@{
  Layout = "_Layout";
}

<h1>A Place to Pick a Topic and Start a Conversation...</h1>
<p>@Html.ActionLink("See all posts", "Index", "Posts")</p>

<p>@Html.ActionLink("See all categories", "Index", "Topics")</p>